<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script th:src="@{/js/postActiveChange.js}"></script>
</head>
<body>
    <table>
        <button th:onclick="|location.href='@{/uploadForm}'|">추가하기</button>
        <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.postId}">num</td>
                <td th:text="${post.title}">title</td>
                <td th:text="${post.url}">url</td>
                <td th:text="${post.createdDate}">createdDate</td>
                <td th:text="${post.closingDate}">closingDate</td>
                <td><button th:id="button + ${post.postId}" th:onclick="|postActiveChange('${post.postId}')|" th:text="${post.status}"/></td>
            </tr>
        </tbody>
    </table>
</body>
</html>